 body{
  font-family: "Lato", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 128px;
}

header, footer{
    width: 100%;
}
.featured-flowers, .delivery, .Instagram, .get-update{
    width:1440px;
    margin: 0 auto; 
    background:rgba(255, 255, 255, 1);

}

.hero-section{
    width: 100%;
    height: 850px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    background: rgba(229, 84, 115, 0.1);
    margin-bottom: 50px;
}

.hero-text,.hero-img{
    margin: 2.6% auto 0;
}

.hero-text{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
 .hero-title{
width:708px ;
color: rgba(39, 39, 39, 1);
font-family: Lato;
font-size: 80px;
font-weight: 800;
line-height: 96px;
}
.hero-description{
width:634px ;
color: rgba(39, 39, 39, 0.6);
font-family: Lato;
font-size: 18px;
font-weight: 400;
line-height: 30px;
} 

.hero-btn, .btn{
width: 177px;
height: 64px;
color: rgba(255, 255, 255, 1);
font-family: Lato;
font-size: 18px;
font-weight: 400;
line-height: 30px;
text-align: center;
padding:20px 43px ;
border-radius: 8px;
background: rgba(229, 84, 115, 1);
border-style: none;
}

          /* Featured Flowers CSS !!! */

 .featured-flowers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 128px;
} 

.featured-flowers-imgs{
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.flowers-img{
    width: 464px;
    height: 538px;
    border-radius:300px 300px 0 0 ;
    display: flex;
    justify-content: center;
    align-items: end;
    margin-bottom: 32px;
    
}

#pink{
    background:rgba(167, 33, 98, 0.15) ;
}
#blue{
    align-items: center;
    background:rgba(5, 151, 160, 0.15) ;
}
#green{
    background:rgba(71, 125, 17, 0.15);
}

.featured-flowers-title{
color: rgba(39, 39, 39, 1);
font-family: Lato;
font-size: 40px;
font-weight: 800;
line-height: 48px;
margin-bottom: 24px;
}

.featured-flowers-description{
width: 594px;
height: 60px;
color: rgba(39, 39, 39, 0.6);
font-family: Lato;
font-size: 18px;
font-weight: 400;
line-height: 30px;
margin-bottom: 48px;
text-align: center;
}

.flowers-name{
    display: flex;
    justify-content:center;
}
 .flowers-name a{
    color: rgba(39, 39, 39, 1);
} 

.delivery{
    height:320px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 8px;
    text-align: center;
    background: rgba(39, 39, 39, 0.05);
    margin-bottom: 128px;
}
.delivery .text{
    margin-top: 24px;
}


.sale{
    width: 100%;
    height: 620px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 186px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin-bottom: 128px;
}

.sale-title{
color:rgba(39, 39, 39, 1);
font-family: Lato;
font-size: 40px;
font-weight: 800;
line-height: 48px;
text-align: center;
margin-bottom: 24px;
}
.sale-description{
width: 594px;
color: rgba(39, 39, 39, 0.6);
font-family: Lato;
font-size: 18px;
font-weight: 400;
line-height: 30px;
text-align: center;
margin-bottom: 32px;
}

.sale-btn{
width:155px;
}

.sign-up{
    display: flex;
    justify-content: center;
}

.Instagram{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 128px;
}
.insta-text{
    text-align: center;
}

.insta-title{
color: rgba(39, 39, 39, 1);
font-family: Lato;
font-size: 40px;
font-weight: 800;
line-height: 48px;
margin-bottom: 24;
}

.insta-description{
width: 594px;
color: rgba(39, 39, 39, 0.6);
font-family: Lato;
font-size: 18px;
font-weight: 400;
line-height: 30px;
margin-bottom: 48px;
}

.insta-imgs{
    display: flex;
    gap: 24px;
}

.get-update{
    height: 449px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: url('../Flower Asset/Rectangle\ 9.png');
}

#email-input{
    width: 700px;
    height: 64px;
    border-radius: 8px;
}
#subscribe{
    text-align: center;
    width:150px;
    height: 64px;
}

.get-update-title{
color: rgba(39, 39, 39, 1);
font-family: Lato;
font-size: 40px;
font-weight: 800;
line-height: 48px;
margin-bottom: 16px;
}

.get-update-description{
color: rgba(39, 39, 39, 0.6);
font-family: Lato;
font-size: 18px;
font-weight: 400;
line-height: 30px;
margin-bottom: 48px;
}

footer{
    display: flex;
    width: 100%;
    height: 449px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(17, 16, 16, 1);
}

.footer-title{
font-family: Lato;
font-size: 48px;
font-weight: 800;
line-height: 58px;
margin-bottom: 24px;
}

.footer-description{
color: rgba(255, 255, 255, 0.9);
font-family: Lato;
font-size: 18px;
font-weight: 400;
line-height: 30px;
margin-bottom: 32px;
}

.copyright{
color: rgba(255, 255, 255, 0.4);
font-family: Lato;
font-size: 16px;
font-weight: 400;
line-height: 19px;
}

@media screen and (max-width:576px) {
    body{
        gap: 0;
    }
    .hero-section{
        width: 100%;
        height: auto;
        flex-direction: column;
        margin-bottom: 0;
    }
    .hero-title, .hero-description{
        width: 90%;
        margin: 0 auto;
    }
    .hero-btn{
        margin: 0 auto;
    }
    .hero-section .hero-img img{
        width: 100%;
    }

    .featured-flowers{
        width: 100%;
        height: auto;
        margin-bottom:0 ;
    }
    .featured-flowers-title{
        text-align: center;
    }
    .featured-flowers-description, .flowers-img{
        width: 90%;
        height: auto;
        margin: 0 auto 15px;
    }
    .featured-flowers-imgs{
        flex-direction: column;
    }
    .delivery{
        width: 100%;
        height: auto;
        flex-direction: column;
        gap: 10vh;
    }
    .delivery-start{
        margin-top: 10vh;
    }
    .delivery-end{
        margin-bottom: 10vh;
    }
    
    .sale{
        height: auto;
        flex-direction: column;
        gap: 56px;
    }
    .sale-title{
        margin-top: 8vh;
    }
    .sale-description{
        width: 90%;
        margin: 0 auto 8px;
    }

    .Instagram{
        width: 100%;
        height: auto;
        background-position: center;
        background-size: auto;
    }
    .insta-description{
        width: 90%;
        margin: 0 auto;
    }
    .insta-imgs{
        flex-direction: column;
    }

    .get-update{
        width: 100%;
        height: 50vh;
    }
    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
    }
    #email-input{
        width: 80%;
        height: 30px;
        padding: auto;
        border-style: none;
        
    }
    #subscribe{
        width: 40%;
        height: 30px;
        color: rgba(255, 255, 255, 1);
        background: rgba(229, 84, 115, 1);
        border-radius: 8px;
        padding: auto;
        border-style: none;   
    }

    footer{
        height: auto;
    }

    .footer-title{
        margin-top: 5vh;

    }
    .footer-description{
        width: 90%;
        margin: 0 auto 5vh;
        text-align: center;

    }
    .copyright{
        margin-bottom: 5vh;

    }
    
}





.hide{
    display:none;
}