 body{
  font-family: "Lato", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 128px;
}

header, footer{
    width: 100%;
}
.featured-flowers, .delivery, .Instagram, .get-update{
    width:1440px;
    margin: 0 auto; 
    background:rgba(255, 255, 255, 1);;

}

.hero-section{
    width: 100%;
    height: 850px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    background: rgba(229, 84, 115, 0.1);
    margin-bottom: 50px;
}

.hero-text,.hero-img{
    margin: 2.6% auto 0;
}

.hero-text{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
 .hero-title{
width:708px ;
height:288px ;
color: rgba(39, 39, 39, 1);
font-family: Lato;
font-size: 80px;
font-weight: 800;
line-height: 96px;
}
.hero-description{
width:634px ;
height:90px ;
color: rgba(39, 39, 39, 0.6);
font-family: Lato;
font-size: 18px;
font-weight: 400;
line-height: 30px;
} 

.hero-btn, .btn{
width: 177px;
height: 64px;
color: rgba(255, 255, 255, 1);
font-family: Lato;
font-size: 18px;
font-weight: 400;
line-height: 30px;
text-align: center;
padding:20px 43px ;
border-radius: 8px;
background: rgba(229, 84, 115, 1);
border-style: none;
}

          /* Featured Flowers CSS !!! */

 .featured-flowers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 128px;
} 

.featured-flowers-imgs{
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.flowers-img{
    width: 464px;
    height: 538px;
    border-radius:300px 300px 0 0 ;
    display: flex;
    justify-content: center;
    align-items: end;
    margin-bottom: 32px;
    
}

#pink{
    background:rgba(167, 33, 98, 0.15) ;
}
#blue{
    align-items: center;
    background:rgba(5, 151, 160, 0.15) ;
}
#green{
    background:rgba(71, 125, 17, 0.15);
}

.featured-flowers-title{
color: rgba(39, 39, 39, 1);
font-family: Lato;
font-size: 40px;
font-weight: 800;
line-height: 48px;
margin-bottom: 24px;
}

.featured-flowers-description{
width: 594px;
height: 60px;
color: rgba(39, 39, 39, 0.6);
font-family: Lato;
font-size: 18px;
font-weight: 400;
line-height: 30px;
margin-bottom: 48px;
text-align: center;
}

.flowers-name{
    display: flex;
    justify-content:center;
}
 .flowers-name a{
    color: rgba(39, 39, 39, 1);
} 

.delivery{
    height:320px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 8px;
    text-align: center;
    background: rgba(39, 39, 39, 0.05);
    margin-bottom: 128px;
}
.delivery .text{
    margin-top: 24px;
}


.sale{
    width: 100%;
    height: 620px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 186px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin-bottom: 128px;
}

.sale-title{
color:rgba(39, 39, 39, 1);
font-family: Lato;
font-size: 40px;
font-weight: 800;
line-height: 48px;
text-align: center;
margin-bottom: 24px;
}
.sale-description{
width: 594px;
color: rgba(39, 39, 39, 0.6);
font-family: Lato;
font-size: 18px;
font-weight: 400;
line-height: 30px;
text-align: center;
margin-bottom: 32px;
}

.sale-btn{
width:155px;
}

.sign-up{
    display: flex;
    justify-content: center;
}

.Instagram{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 128px;
}
.insta-text{
    text-align: center;
}

.insta-title{
color: rgba(39, 39, 39, 1);
font-family: Lato;
font-size: 40px;
font-weight: 800;
line-height: 48px;
margin-bottom: 24;
}

.insta-description{
width: 594px;
color: rgba(39, 39, 39, 0.6);
font-family: Lato;
font-size: 18px;
font-weight: 400;
line-height: 30px;
margin-bottom: 48px;
}

.insta-imgs{
    display: flex;
    gap: 24px;
}

.get-update{
    height: 449px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: url('../Flower Asset/Rectangle\ 9.png');
}



#email-input{
    width: 700px;
    height: 64px;
    border-radius: 8px;
}

#subscribe{
    text-align: center;
    width:150px;
    height: 64px;
}

.get-update-title{
color: rgba(39, 39, 39, 1);
font-family: Lato;
font-size: 40px;
font-weight: 800;
line-height: 48px;
margin-bottom: 16px;
}

.get-update-description{
color: rgba(39, 39, 39, 0.6);
font-family: Lato;
font-size: 18px;
font-weight: 400;
line-height: 30px;
margin-bottom: 48px;
}

@media screen and (max-width:576px) {
    body{
        gap:39px;
    }
    
}